.card-webboard {
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.card-webboard:hover {
    transform: scale(1.02);
}

.admin-title{
    /* text-align: center; */
    color: #0F75BC;
    font-weight: bold;
  }

.btn-sm {
    font-size: 0.9rem;
}