  .main-content {
    padding-top: 10px; 
  }

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 15px;
  margin-top: 15px;
  list-style: none;
}

.breadcrumb-item {
  font-size: 14px;
  color: #6c757d; 
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #6c757d; 
  padding: 0 5px;
}

.breadcrumb-item a {
  text-decoration: none; 
  color: #0F75BC; 
  font-weight: bold;
  transition: color 0.3s ease;
}

.breadcrumb-item a:hover {
  color: #0056b3; 
}


.breadcrumb-item span {
  color: #0F75BC; 
  font-weight: bold; 
  text-decoration: underline; 
}