.title-faq{
    text-align: center;
    margin: 30px;
}
.faq_content {
    max-width: 600px;
    margin: auto;
}

.faq_content_item {
    /* border-bottom: 1px solid #ddd; */
    padding: 10px 0;
}

.faq_content_item_title{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.faq_question {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    padding: 12px;
    background: #F5F5F5;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s ease-in-out;
}

.faq_question:hover {
    background: #e2e6ea;
}

.faq_question_p{
    margin-bottom: 0;
}

.faq_icon {
    font-size: 20px;
    color: black;
    transition: transform 0.3s ease-in-out;
}

.faq_answer {
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    background: #fff;
    border-left: 3px solid #0F75BC;
    margin-bottom: 0;
}