
  .news-card img {
    width: 100%;
    height: auto;
    border-bottom: 4px solid #004F9F; 
  }
  
  .news-card .card-body {
    padding: 20px;
  }
  
  /* #card-news-home{
    height: 400px;
  } */

  #head-text{
    text-align: center;
    margin: 40px;
    color: #0F75BC;
    font-weight: bold;
  }

  .card {
    height: 100%;
  }
  
  .card-title{
    font-weight: bold;
  }

  .content{
    margin-bottom: 100px;
  }

  .home-about{
    margin: 0 100px ;
  }

  .content {
    background-image: url('/public/image/back-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    min-height: 80vh;
    color: #fff;
}


