.students {
    display: flex;
    justify-content: space-between; /* จัดตัวกรองให้ไปอยู่ขวา */
    align-items: center; /* จัดแนวในแนวตั้ง */
}

.filter-container {
    width: 200px; /* กำหนดความกว้างของ dropdown */
}

.filter-container select {
    width: 100%; /* ให้ select มีความกว้างเต็ม */
}

.students table {
    font-size: 1rem;
    margin-top: 20px;
}

.students th, .students td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.students h4 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.table {
    width: 100%;
    table-layout: fixed;
}

.table th, .table td {
    text-align: center;
    padding: 10px;
    word-wrap: break-word;
}

.table th, .table td {
    width: 25%;
    max-width: 200px;
}

.table th, .table td {
    border: 1px solid #ddd;
}

.table th {
    background-color: #0F75BC;
    font-weight: bold;
    color: #ffffff;
}

.table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.thead th {
    background-color: #0F75BC;
    color: #ffffff;
}
.students table {
    font-size: 1rem;
    margin-top: 20px;
}

.students th, .students td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.students h4 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.table {
    width: 100%;
    table-layout: fixed;
}

.table th, .table td {
    text-align: center;
    padding: 10px;
    word-wrap: break-word;
}

.table th, .table td {
    width: 25%;
    max-width: 200px;
}

.table th, .table td {
    border: 1px solid #ddd;
}

.table th {
    font-weight: bold;
    color: #ffffff;
}

.thead th {
    background-color: #0F75BC;
    color: #ffffff;
}
