.notification-dropdown-admin{
  position: absolute;
  top: 40px;
  left: 20px;
  min-width: 380px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.15);
  z-index: 100;
  color: #222;
  padding: 20px;
  max-height: 70vh;
  overflow-y: auto;
}

.unread-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
}

.notification-icon-admin {
    font-size: 24px;
    color: #fff;
    width: 24px;
    height: 24px;
    display: inline-block;
}