.news-title{
    text-align: center; 
}
  
.news-page {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    gap: 15px;
    max-width: 80%;  
    margin: 0 auto;  
}

.head-news{
    position: relative;
    width: 100%;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
}

.news-image {
  max-width: 200px;
  width: 100%;
  height: 120px;
  border-radius: 5px;
  object-fit: cover;
}

.news-title-link {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0F75BC;
    text-decoration: none;
}

.news-title-link:hover {
    text-decoration: underline;
}

.news-meta {
    font-size: 0.9rem;
    color: #777;
}


.news{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 2;
}

.news-detail {
    margin-bottom: 30px;
}

 .news-title-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.news-title-link:hover {
  color: #007bff;
}

.news-summary {
  font-size: 0.95rem;
  color: #555;
}

/* .read-more{
 padding: 2px;
} */

.read-more:hover {
  text-decoration: underline;
}


.news-imgdetail {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    margin-bottom: 20px;
}

.news-author, .news-datepost {
    font-size: 1rem;
    color: #777;
    font-style: italic;
    margin-top: 10px;
}

.related-news {
    margin-top: 50px;
}

.card {
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.card-body {
    text-align: center;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.text-bold{
    font-weight: bold;
    font-size: 20px;
}

.text-head{
    font-weight: bold;
    font-size: medium;
}

/* @media screen and (min-width: 1440px) {

  .news {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 2;
}

} */

/* ipad */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .news {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 2;
}

.news-image {
    max-width: 30%;
    height: 120px;
    border-radius: 5px;
    object-fit: cover;
}
}

/* iphone 12 pro */
@media screen and (min-width: 300px) and (max-width: 480px){
.head-news {
    position: relative;
    width: 100%;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
}

.news {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 2;
}
  

  
}
