.row {
    margin-bottom: 20px; 
  }
  
  .col-4,
  .col-7 {
    padding: 10px; 
  }
  
  .profile-img {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    object-fit: cover; 
  }
  
  .user-profile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu {
    text-align: left;
  }
  
  .menu-item {
    /* background-color: #f8f9fa; */
    font-size: 14px;
    color: #333;
    padding: 10px;
    cursor: pointer;
    text-align: center;
  }
  
  .menu-item:hover {
    background-color: #e2e6ea;
  }
  
  .menu-item.active {
    background-color: #0F75BC;
    color: #fff;
  }
  
  .submit-button {
    width: 100%;
    cursor: pointer;
}

textarea{
  /* width: 50%; */
  height: 150px;
}
