.request-souvenir-form {
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 4%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.data-requestSouvenir-title{
    color: #085A9C;
    font-size: 20px;
    font-weight: bold;
}
.data-requestSouvenir-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}


.data-requestSouvenir, .payment-info {
    margin-bottom: 30px;
}

.data-requestSouvenirdiv, .payment-info div {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

.group-souvenir-bt {
    display: flex;
    gap: 10px;
    /* justify-content: space-between; */
    margin-top: 20px;
}

.button-souvenirRequest, .cancle-button-souvenirRequest {
    padding: 10px 20px;
    width: 400px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}


.button-souvenirRequest {
    background-color: #085A9C;
    color: white;
}

.cancle-button-souvenirRequest {
    border: #085A9C solid 1px ;
    color: #085A9C;
}

.MuiModal-root {
    display: flex;
    align-items: center;
    justify-content: center;
}

.MuiBox-root {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.MuiButton-root {
    margin-top: 15px;
}

/* เพิ่มพื้นที่ระหว่างแต่ละ section */
.payment-info, .data-requestDonate {
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    margin-bottom: 30px;
}

.payment-info input[type="text"] {
    width: 80%;
}

.payment-info div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment-info input[type="text"] {
    width: 70%;
}

.variant-box {
    position: relative;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: #fff;
}

/* ปุ่มลบมุมขวาบน */
.variant-remove-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    min-width: unset;
    padding: 4px 8px;
}