.product-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .product-img {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 1200px) {
  .product-img {
    width: 120px;
    height: 120px;
  }
}
